<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="../stylesheets/app.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
<div class="splash-container">
    <div class="splash">

        <div class="auth-container">
            <h1><span class="fa fa-sign-in"></span> Signup</h1>

            <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
            <% } else { %>
            <div class="alert alert-danger inactive"> </div>
            <% } %>


            <!-- LOGIN FORM -->
            <form action="/signup" method="post">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <button type="submit" class="login-button btn btn-warning btn-lg">Signup</button>
            </form>

            <p>Already have an account? <a href="/login">Login</a></p>
            <p>Or go <a href="/">home</a>.</p>
        </div>
    </div>
</div>
</body>
</html>